/* Sayfanın Tam Yükseklikte Olmasını Sağla */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Yatay scroll'u engelle */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Sayfanın en az viewport yüksekliğinde olmasını sağlar */
}

/* Ana içerik kısmı */
.main-content {
  flex: 1; /* İçeriğin tüm boş alanı kaplamasını sağlar */
  padding-bottom: 50px; /* Footer'a yer açmak için alt boşluk */
}

/* Footer'ı Sayfanın Altına Sabitle */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
